@model IEnumerable<AssoSystem.Models.Associate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BornDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neigborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressComplement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MothersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WifeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FantasyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnpjCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BornDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neigborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressComplement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WifeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FantasyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CnpjCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
