@model IEnumerable<AssoSystem.Models.Address>
@{
    ViewData["Title"] = "Endereços";
}

<h1>Listagem</h1>
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-close-white">Novo</a>
    <label class="form-label">Inclusão por CEP</label>
    <input class="form-control"/>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublicPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neigborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.PublicPlace)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NumberPlace)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Neigborhood)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.City)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.State)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="badge bg-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="badge bg-secondary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="badge bg-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
